In [4]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\nourain\anaconda3\lib\site-packages (0.21.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\nourain\anaconda3\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: scipy>=1.2.1 in c:\users\nourain\anaconda3\lib\site-packages (from mlxtend) (1.9.1)
Requirement already satisfied: joblib>=0.13.2 in c:\users\nourain\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: setuptools in c:\users\nourain\anaconda3\lib\site-packages (from mlxtend) (63.4.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\nourain\anaconda3\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: pandas>=0.24.2 in c:\users\nourain\anaconda3\lib\site-packages (from mlxtend) (1.4.4)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\nourain\anaconda3\lib\site-packages (from mlxtend) (3.5.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\nourain\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: packaging>=20.0 in c:\users\nourain\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: cycler>=0.10 in c:\users\nourain\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\nourain\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\nourain\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.2.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\nourain\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\nourain\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\nourain\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\nourain\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\nourain\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
df = [['Skirt', 'Sneakers', 'Scarf', 'Pants', 'Hat'],

    ['Sunglasses', 'Skirt', 'Sneakers', 'Pants', 'Hat'],

    ['Dress', 'Sandals', 'Scarf', 'Pants', 'Heels'],

    ['Dress', 'Necklace', 'Earrings', 'Scarf', 'Hat', 'Heels', 'Hat'],

   ['Earrings', 'Skirt', 'Skirt', 'Scarf', 'Shirt', 'Pants']]

In [3]:
df

[['Skirt', 'Sneakers', 'Scarf', 'Pants', 'Hat'],
 ['Sunglasses', 'Skirt', 'Sneakers', 'Pants', 'Hat'],
 ['Dress', 'Sandals', 'Scarf', 'Pants', 'Heels'],
 ['Dress', 'Necklace', 'Earrings', 'Scarf', 'Hat', 'Heels', 'Hat'],
 ['Earrings', 'Skirt', 'Skirt', 'Scarf', 'Shirt', 'Pants']]

In [5]:
#importing librairies 
import mlxtend
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
#we apply the one hot encoding on the df
te_ary=te.fit(df).transform(df)
#create a dataframe from a numy array
df=pd.DataFrame(te_ary, columns=te.columns_)
df

,Dress,Earrings,Hat,Heels,Necklace,Pants,Sandals,Scarf,Shirt,Skirt,Sneakers,Sunglasses
0,False,False,True,False,False,True,False,True,False,True,True,False
1,False,False,True,False,False,True,False,False,False,True,True,True
2,True,False,False,True,False,True,True,True,False,False,False,False
3,True,True,True,True,True,False,False,True,False,False,False,False
4,False,True,False,False,False,True,False,True,True,True,False,False

In [11]:
#select itemsets
from mlxtend.frequent_patterns import apriori 
apriori(df,min_support=0.6)

   support itemsets
0      0.6      (2)
1      0.8      (5)
2      0.8      (7)
3      0.6      (9)
4      0.6   (5, 7)
5      0.6   (9, 5)

In [12]:
frequent_itemsets=apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets

   support        itemsets
0      0.6           (Hat)
1      0.8         (Pants)
2      0.8         (Scarf)
3      0.6         (Skirt)
4      0.6  (Pants, Scarf)
5      0.6  (Pants, Skirt)

In [13]:
#extract rules by other metrics for exemple confidence
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Pants),(Scarf),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
1,(Scarf),(Pants),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
2,(Pants),(Skirt),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
3,(Skirt),(Pants),0.6,0.8,0.6,1.00,1.2500,0.12,inf

In [14]:
#using the metric "lift"
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets,metric="lift",min_threshold=1.1)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Pants),(Skirt),0.8,0.6,0.6,0.75,1.25,0.12,1.6
1,(Skirt),(Pants),0.6,0.8,0.6,1.00,1.25,0.12,inf

# Let's do the same checkpoint but with a bigger dataset!

In [7]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
df_new=pd.read_csv("C:/file/Market_Basket_Optimisation.csv",sep=',')
df_new

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7496,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_new.isnull().sum()

shrimp                  0
almonds              1754
avocado              3112
vegetables mix       4156
green grapes         4972
whole weat flour     5637
yams                 6132
cottage cheese       6520
energy drink         6847
tomato juice         7106
low fat yogurt       7245
green tea            7347
honey                7414
salad                7454
mineral water        7476
salmon               7493
antioxydant juice    7497
frozen smoothie      7497
spinach              7498
olive oil            7500
dtype: int64

In [9]:
df_new.shape
df_new.dtypes

shrimp                object
almonds               object
avocado               object
vegetables mix        object
green grapes          object
whole weat flour      object
yams                  object
cottage cheese        object
energy drink          object
tomato juice          object
low fat yogurt        object
green tea             object
honey                 object
salad                 object
mineral water         object
salmon                object
antioxydant juice     object
frozen smoothie       object
spinach               object
olive oil            float64
dtype: object

In [10]:
#replacing the missing alues with the frequent ones:
df_new["avocado"].fillna("mineral water",inplace=True)
df_new["vegetables mix"].fillna("mineral water",inplace=True)
df_new["green grapes"].fillna("green tea",inplace=True)
df_new["whole weat flour"].fillna("french fries",inplace=True)
df_new["yams"].fillna("green tea",inplace=True)
df_new["salad"].fillna("green tea",inplace=True)
df_new["low fat yogurt"].fillna("green tea",inplace=True)
df_new.drop(['salmon','antioxydant juice','frozen smoothie','spinach','olive oil'],1,inplace=True)

C:\Users\nourain\AppData\Local\Temp\ipykernel_6092\4095220659.py:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_new.drop(['salmon','antioxydant juice','frozen smoothie','spinach','olive oil'],1,inplace=True)

In [24]:
#as pre-processing step we can convert the values of the dataframe into an array of strings representing transactions 
import numpy as np
trans=[]
for i in range(0,7500):
    trans.append([str(df_new.values[i,j]) for j in range (0,15)])
trans= np.array(trans)
print(trans.shape)

(7500, 15)

In [25]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
#we apply the one hot encoding on the df
df_new=te.fit_transform(trans)
#create a dataframe from a numy array
df_new=pd.DataFrame(df_new, columns = te.columns_)
df_new.head(5)

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [28]:
# Association Rule Mining on the input dataframe
frequent_itemsets= apriori(df_new,min_support=0.8, use_colnames=True)
frequent_itemsets['length']= frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support                        itemsets  length
0  0.819200                  (french fries)       1
1  0.995867                     (green tea)       1
2  0.996800                           (nan)       1
3  0.817467       (green tea, french fries)       2
4  0.817867             (nan, french fries)       2
5  0.995200                (green tea, nan)       2
6  0.817067  (green tea, nan, french fries)       3

In [30]:
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.8)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(green tea),(french fries),0.995867,0.819200,0.817467,0.820860,1.002026,0.001653,1.009264
1,(french fries),(green tea),0.819200,0.995867,0.817467,0.997884,1.002026,0.001653,1.953477
2,(nan),(french fries),0.996800,0.819200,0.817867,0.820492,1.001577,0.001288,1.007199
3,(french fries),(nan),0.819200,0.996800,0.817867,0.998372,1.001577,0.001288,1.966080
4,(green tea),(nan),0.995867,0.996800,0.995200,0.999331,1.002539,0.002520,4.780160
5,(nan),(green tea),0.996800,0.995867,0.995200,0.998395,1.002539,0.002520,2.575067
6,"(green tea, nan)",(french fries),0.995200,0.819200,0.817067,0.821008,1.002206,0.001799,1.010098
7,"(green tea, french fries)",(nan),0.817467,0.996800,0.817067,0.999511,1.002719,0.002216,6.539733
8,"(nan, french fries)",(green tea),0.817867,0.995867,0.817067,0.999022,1.003168,0.002581,4.225644
9,(green tea),"(nan, french fries)",0.995867,0.817867,0.817067,0.820458,1.003168,0.002581,1.014432
10,(nan),"(green tea, french fries)",0.996800,0.817467,0.817067,0.819690,1.002719,0.002216,1.012329
11,(french fries),"(green tea, nan)",0.819200,0.995200,0.817067,0.997396,1.002206,0.001799,1.843200

In [31]:
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets,metric="lift",min_threshold=0.8)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(green tea),(french fries),0.995867,0.819200,0.817467,0.820860,1.002026,0.001653,1.009264
1,(french fries),(green tea),0.819200,0.995867,0.817467,0.997884,1.002026,0.001653,1.953477
2,(nan),(french fries),0.996800,0.819200,0.817867,0.820492,1.001577,0.001288,1.007199
3,(french fries),(nan),0.819200,0.996800,0.817867,0.998372,1.001577,0.001288,1.966080
4,(green tea),(nan),0.995867,0.996800,0.995200,0.999331,1.002539,0.002520,4.780160
5,(nan),(green tea),0.996800,0.995867,0.995200,0.998395,1.002539,0.002520,2.575067
6,"(green tea, nan)",(french fries),0.995200,0.819200,0.817067,0.821008,1.002206,0.001799,1.010098
7,"(green tea, french fries)",(nan),0.817467,0.996800,0.817067,0.999511,1.002719,0.002216,6.539733
8,"(nan, french fries)",(green tea),0.817867,0.995867,0.817067,0.999022,1.003168,0.002581,4.225644
9,(green tea),"(nan, french fries)",0.995867,0.817867,0.817067,0.820458,1.003168,0.002581,1.014432
10,(nan),"(green tea, french fries)",0.996800,0.817467,0.817067,0.819690,1.002719,0.002216,1.012329
11,(french fries),"(green tea, nan)",0.819200,0.995200,0.817067,0.997396,1.002206,0.001799,1.843200